
<header class="page_header">
    <div class="container">
        <div class="header_block">
            <a href="{{homeLink}}">
                <picture class="logo">
                    <source srcset="{{ logoWebp }}" type="image/webp">
                    <img src="{{logo}}" alt="logo">
                </picture>
            </a>

            <div class="btn_contact_wrap">
                <a class="btn_contact" href="{{linkContact}}">Contact us</a>       
            </div>
        </div>
    

        <div class="header_content">
            <div class="block_title">
                <h1 class="main_title">
                    {{ mainTitle }}
                    <span class="main_title_sp">{{titleSpan}}</span>
                </h1>
                <p class="subtitle_header">From the leading manufacturer of goods for printing "ZEBRA"</p>
                <div class="block_btn">
                    <div class="btn_wrap btn_now">
                        <button class="btn_inner" type="button">Buy now</button>
                    </div>
                    <div class="btn_wrap btn_more">
                        <button class="btn_inner" type="button">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>