{% block content %}
    <div class="contact_form">
        <div class="container">
            <form class="form_block" action="#" method="post">
                <label class="form_label">
                    <input class="input_item input_name" type="text" name="name" placeholder="Your Name">
                </label>
                <label class="form_label">
                    <input class="input_item input_email" type="email" name="email" placeholder="Your Email">
                </label>
                <input class="input_sub" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}