{% block content %}
    <div class="contact_form">
        <div class="container">
            <form class="form_block" action="#" method="post" name="formCallback">
                <label class="form_label">
                    <input class="input_item input_name" type="text" name="name" placeholder="Your Name" required>
                </label>
                <label class="form_label">
                    <input class="input_item input_email" type="email" name="email" placeholder="Your Email" required>
                </label>
                <input class="input_sub" type="submit" value="Submit">
            </form>


            <div class="modal_overlay">
                <div class="modal_form">
                    <p class="modal_form_text">Thank <span class="textFromInput"></span> for signing up!</p>

                    <button class="btn_modal" type="button">ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}